#kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: mahmudsharipov/todoclient
  newTag: 1.0.4
- name: mahmudsharipov/todoserver
  newTag: 1.0.0
resources:
- postgres.yml
- server.yml
- client.yml
